header {
    background-color: #13435f;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.companyName{
    text-decoration: none; /* 밑줄 제거 */
    color: inherit; /* 부모 요소의 색상 상속 */
}

.wrap {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.wrap li {
    margin-left: 20px;
}

.wrap a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.wrap a:hover {
    text-decoration: underline;
}
